* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
}

#pageBody {
    background: #FFC787;
    overflow: hidden;
}

#deco {
    object-fit: cover;
}

#logo {
    min-width: 180px;
    max-width: 398px;
    position: fixed;
    top: 80px;
    left: 50%;
    width: 20%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Niveau supérieur */
}

#logo:hover + .info {
    translate: 0px 200px;
}

.info {
    padding: 20px 20px;
    width: 10%;
    background-color: rgb(243, 181, 109);
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    transition: translate 1s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-info {
    text-align: center;
    color: rgb(214, 139, 52);
}

#hotbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Initialement cachée */
    background-color: rgb(243, 183, 104);
    z-index: 999; /* Niveau inférieur */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Espacement des côtés */
    box-shadow: 0px 8px 20px 3px #f3ba79;
    box-sizing: border-box; /* Inclure les paddings dans les dimensions */
}

#hotbar a {
    position: relative; /* Position relative pour déplacer chaque bouton */
    background: linear-gradient(180deg, rgba(252,210,162,1) 0%, rgba(252,193,126,1) 100%);
    color: #DE9F58;
    border: 2px solid #DE9F58;
    border-radius: 15px;
    padding: 15px 7%;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1; /* Invisibles au départ */
    text-decoration: none;
}

#hotbar a:hover {
    color: #ffffff;
}

.button {
    overflow: hidden; /* Assurez-vous que le reflet reste dans les limites du lien */
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%; /* Le reflet commence hors de l'élément */
    width: 50%;
    height: 100%;
    background: rgba(248, 245, 216, 0.767); /* Couleur semi-transparente pour le reflet */
    transform: skewX(-45deg); /* Inclinaison du reflet */
    filter: blur(15px);
    transition: none;
}

.button:hover::before {
    animation: flash 0.8s ease; /* Lancer l'animation au survol */
}

@keyframes flash {
    0% {
        left: -150%;
    }
    100% {
        left: 120%;
    }
}

#content-vote {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(167, 99, 23);
    margin-bottom: 20px;
    margin-left: 20px;
}

#CrossiBird-vote {
    width: 50%;
    animation: mouvement 2s linear infinite;
}

/* Annimation Bird */
  @keyframes mouvement {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

#vote-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.vote-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.vote-button:hover #image-button1 {
    box-shadow: 0px 0px 40px 10px rgb(247, 206, 72);
}

.vote-button:hover #image-button2 {
    box-shadow: 0px 0px 40px 10px rgb(72, 142, 247);
}

.vote-button:hover #image-button3 {
    box-shadow: 0px 0px 40px 10px rgb(247, 72, 130);
}

#image-button1 {
    width: 70%;
    min-width: 300px;
    transition: box-shadow 1s ease,width 0.2s,margin-top 0.2s;
}

#image-button2 {
    width: 70%;
    min-width: 300px;
    transition: box-shadow 1s ease,width 0.2s,margin-top 0.2s;
}

#image-button3 {
    width: 70%;
    min-width: 300px;
    transition: box-shadow 1s ease,width 0.2s,margin-top 0.2s;
}

.text-button {
    position: absolute;
    color:white;
}